/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass";

body {
	overflow-x: hidden;
}

a:hover {
	text-decoration: none;
}

.inline {
  display: inline;
}

.block {
  display: block;
}

.welcome {
	background-color: #efd5e1; // Old browsers
	@include filter-gradient(#efd5e1, #cce5e4, vertical); // IE6-9
	@include background-image(linear-gradient(top,  #efd5e1 0%,#cce5e4 100%));

	padding: 20px 0 20px 0;
}

.btn {
  border-radius: 0px;
  border-width: 0px;
}
.btn-danger {
  background-color: #e55400;
}

.btn-success {
  background-color: #00e293;
  color: #98a59d;
}

.marge {
	margin-top: 10px;
}
.enter-block {
	background-color: rgba(160, 160, 160, 0.4);
	padding: 10px;
  cursor: pointer;
  .welcome-pic {
    height: 90px;
  }
  a {
    font-size: 2em;
    color: #000000;
  }
}

.enter-block:hover {
  background-color: rgba(160, 160, 160, 0.7);
}

.restaurantRow {
	padding: 10px;
	background-color: rgba(0,0,0,0.5);
	margin-top: 10px;
	margin-bottom: 10px;
	.restaurantName {
		font-size: 1.5em;
		color: white;
	}
}

.restaurantTitle {
	height: 100px;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
  .titleText {
    padding-top: 1px;
  }
}

.areYouSure {
  padding: 10px;
  padding-bottom: 37px;
  background-color: #f4ed9c;
  display: inline;

  .choiceText {
    color: #00d389;
    position: relative;
    font-size: 1.5em;
    float: left;
  }
  .noDelete {
    float: right;
    position: relative;
    margin-left: 5px;
  }
  .delete {
    float: right;
    position: relative;
    margin-left: 5px;
  }
}

.restaurantAddress {
	padding: 5px;
	font-weight: bold;
	color: #bbff00;
}

.restaurantImage {
	height: 200px;
}

.margin {
	margin-top: 10px;
}

body {
	background-color: #3f3f3f;
}

.spinner {
  margin: 100px auto;
  width: 32px;
  height: 32px;
  position: relative;
}

.cube1, .cube2 {
  background-color: #333;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: cubemove 1.8s infinite ease-in-out;
  animation: cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes cubemove {
  25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
  50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
  75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
  100% { -webkit-transform: rotate(-360deg) }
}

@keyframes cubemove {
  25% { 
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  } 50% { 
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  } 50.1% { 
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  } 75% { 
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  } 100% { 
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}

.profile-background {
  background-color: #c9c9c9;
  overflow: hidden;
  height: 200px;
}

.profilePic {
  position: absolute;
  bottom: 0;
  height: 200px;
  cursor: pointer;
}

.photoUpload {
  position: absolute;
  left: 0;
  bottom: 0px;
  z-index: 100;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  border-width: 0px;
  width: 100%;
  text-align: left;
  .glyphicon-camera {
    margin-top: 5px;
    font-size: 2.7em;
    color: white;
  }
}

.progress {
  margin-top: 10px;
  margin-bottom: 10px;
}

.myRestaurants {
  color: #e0e0e0;
}

.errors{
  position: fixed;
  z-index: 10000;
  padding: 10px;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  pointer-events: none;
}
.alert {
          animation: fadeOut 2700ms ease-in 0s 1 forwards;
  -webkit-animation: fadeOut 2700ms ease-in 0s 1 forwards;
     -moz-animation: fadeOut 2700ms ease-in 0s 1 forwards;
  width: 250px;
  float: right;
  clear: both;
  margin-bottom: 5px;
  pointer-events: auto;
}

.edit-glyph {
  font-size: .5em;
  padding-bottom: 3px;
  cursor: pointer;
}

.editTitle {
  background-color: rgba(0, 0, 0, 0.0);
  border-width: 0px;
  padding: 0px;
  outline: none;
}

.saveTitle {
  float: right;
  margin-top: 12px;
}

.cancelTitle {
  float: right;
  margin-top: 12px;
}

.noPadding {
  padding: 0px !important;
}

.photoViewerModal {
  position: fixed;
  background-color: rgba(0,0,0,0.5);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  overflow: hidden;
  outline: 0;
}

.carousel {
  height: 520px;
  width: 880px;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  .photoInfo {
    background-color: white;
    height: 100%;
  }
}

.photoContainer {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.photoContainer:hover {
  cursor: pointer;
}

.currentPic {
  height: 100%;
  height: 80%;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

