/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass";

body {
	overflow: hidden;
}

a:hover {
	text-decoration: none;
}

.welcome {
	text-align: center;
	// needs latest Compass, add '@import "compass"' to your scss
	background-color: #efd5e1; // Old browsers
	@include filter-gradient(#efd5e1, #cce5e4, vertical); // IE6-9
	@include background-image(linear-gradient(top,  #efd5e1 0%,#cce5e4 100%));

	padding: 20px 0 20px 0;
}

.marge {
	margin-top: 30px;
}
.enter-block {
	background-color: rgba(160, 160, 160, 0.8);
	padding: 20px;
	margin: 10px 0 10px 0;
}

.restaurantRow {
	padding: 10px;
	background-color: rgba(0,0,0,0.5);
	margin-top: 10px;
	margin-bottom: 10px;
	.restaurantName {
		font-size: 1.5em;
		color: white;
	}
}

.restaurantTitle {
	padding: 10px;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
}

.restaurantAddress {
	padding: 5px;
	font-weight: bold;
}