/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass";

body {
	overflow: hidden;
}

a:hover {
	text-decoration: none;
}

.welcome {
	text-align: center;
	// needs latest Compass, add '@import "compass"' to your scss
	background-color: #efd5e1; // Old browsers
	@include filter-gradient(#efd5e1, #cce5e4, vertical); // IE6-9
	@include background-image(linear-gradient(top,  #efd5e1 0%,#cce5e4 100%));

	padding: 20px 0 20px 0;
}

.marge {
	margin-top: 30px;
}
.enter-block {
	background-color: rgba(160, 160, 160, 0.8);
	padding: 20px;
	margin: 10px 0 10px 0;
}

.restaurantRow {
	padding: 10px;
	background-color: rgba(0,0,0,0.5);
	margin-top: 10px;
	margin-bottom: 10px;
	.restaurantName {
		font-size: 1.5em;
		color: white;
	}
}

.restaurantTitle {
	padding: 10px;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
}

.restaurantAddress {
	padding: 5px;
	font-weight: bold;
	color: #bbff00;
}

.restaurantImage {
	height: 200px;
}

.margin {
	margin-top: 10px;
}

body {
	background-color: #3f3f3f;
}

.spinner {
  margin: 100px auto;
  width: 32px;
  height: 32px;
  position: relative;
}

.cube1, .cube2 {
  background-color: #333;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: cubemove 1.8s infinite ease-in-out;
  animation: cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes cubemove {
  25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
  50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
  75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
  100% { -webkit-transform: rotate(-360deg) }
}

@keyframes cubemove {
  25% { 
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  } 50% { 
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  } 50.1% { 
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  } 75% { 
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  } 100% { 
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}