<template name="home">
	<div class="welcome">
		{{#each restaurants}}
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="marge">
					<div class="enter-block">
						<div class="row">
							<div class="col-md-2">
								<img src="{{defaultImage}}" class="welcome-pic"/>
							</div>
							<div class="col-md-10">
								<a href="{{pathFor 'restaurantPage'}}" >{{name}}</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{{/each}}
	</div>
</template>