/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 8, ../sass/screen.scss */
body {
  overflow-x: hidden;
}

/* line 12, ../sass/screen.scss */
a:hover {
  text-decoration: none;
}

/* line 16, ../sass/screen.scss */
.welcome {
  text-align: center;
  background-color: #efd5e1;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFEFD5E1', endColorstr='#FFCCE5E4');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VmZDVlMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2NjZTVlNCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #efd5e1), color-stop(100%, #cce5e4));
  background-image: -moz-linear-gradient(top, #efd5e1 0%, #cce5e4 100%);
  background-image: -webkit-linear-gradient(top, #efd5e1 0%, #cce5e4 100%);
  background-image: linear-gradient(to bottom, #efd5e1 0%, #cce5e4 100%);
  padding: 20px 0 20px 0;
}

/* line 26, ../sass/screen.scss */
.marge {
  margin-top: 30px;
}

/* line 29, ../sass/screen.scss */
.enter-block {
  background-color: rgba(160, 160, 160, 0.8);
  padding: 20px;
  margin: 10px 0 10px 0;
}

/* line 35, ../sass/screen.scss */
.restaurantRow {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 10px;
  margin-bottom: 10px;
}
/* line 40, ../sass/screen.scss */
.restaurantRow .restaurantName {
  font-size: 1.5em;
  color: white;
}

/* line 46, ../sass/screen.scss */
.restaurantTitle {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

/* line 52, ../sass/screen.scss */
.restaurantAddress {
  padding: 5px;
  font-weight: bold;
  color: #bbff00;
}

/* line 58, ../sass/screen.scss */
.restaurantImage {
  height: 200px;
}

/* line 62, ../sass/screen.scss */
.margin {
  margin-top: 10px;
}

/* line 66, ../sass/screen.scss */
body {
  background-color: #3f3f3f;
}

/* line 70, ../sass/screen.scss */
.spinner {
  margin: 100px auto;
  width: 32px;
  height: 32px;
  position: relative;
}

/* line 77, ../sass/screen.scss */
.cube1, .cube2 {
  background-color: #333;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: cubemove 1.8s infinite ease-in-out;
  animation: cubemove 1.8s infinite ease-in-out;
}

/* line 89, ../sass/screen.scss */
.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes cubemove {
  25% {
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  }
  50% {
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  }
  75% {
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  }
  100% {
    -webkit-transform: rotate(-360deg);
  }
}
@keyframes cubemove {
  25% {
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  }
  50% {
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  }
  50.1% {
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  }
  75% {
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  }
  100% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}
/* line 120, ../sass/screen.scss */
.profile-background {
  background-color: #c9c9c9;
  overflow: hidden;
  height: 200px;
}

/* line 126, ../sass/screen.scss */
.profilePic {
  position: absolute;
  bottom: 0;
  height: 200px;
}

/* line 132, ../sass/screen.scss */
.photoUpload {
  position: absolute;
  left: 0;
  bottom: 0px;
  z-index: 100;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  border-width: 0px;
  width: 100%;
  text-align: left;
}
/* line 142, ../sass/screen.scss */
.photoUpload .glyphicon-camera {
  margin-top: 5px;
  font-size: 2.7em;
  color: white;
}

/* line 149, ../sass/screen.scss */
.progress {
  margin-top: 10px;
  margin-bottom: 10px;
}
