/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 8, ../sass/screen.scss */
body {
  overflow-x: hidden;
}

/* line 12, ../sass/screen.scss */
a:hover {
  text-decoration: none;
}

/* line 16, ../sass/screen.scss */
.inline {
  display: inline;
}

/* line 20, ../sass/screen.scss */
.block {
  display: block;
}

/* line 24, ../sass/screen.scss */
.welcome {
  background-color: #efd5e1;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFEFD5E1', endColorstr='#FFCCE5E4');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VmZDVlMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2NjZTVlNCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #efd5e1), color-stop(100%, #cce5e4));
  background-image: -moz-linear-gradient(top, #efd5e1 0%, #cce5e4 100%);
  background-image: -webkit-linear-gradient(top, #efd5e1 0%, #cce5e4 100%);
  background-image: linear-gradient(to bottom, #efd5e1 0%, #cce5e4 100%);
  padding: 20px 0 20px 0;
}

/* line 32, ../sass/screen.scss */
.btn {
  border-radius: 0px;
  border-width: 0px;
}

/* line 36, ../sass/screen.scss */
.btn-danger {
  background-color: #e55400;
}

/* line 40, ../sass/screen.scss */
.btn-success {
  background-color: #00e293;
  color: #98a59d;
}

/* line 45, ../sass/screen.scss */
.marge {
  margin-top: 10px;
}

/* line 48, ../sass/screen.scss */
.enter-block {
  background-color: rgba(160, 160, 160, 0.4);
  padding: 10px;
  cursor: pointer;
}
/* line 52, ../sass/screen.scss */
.enter-block .welcome-pic {
  height: 90px;
}
/* line 55, ../sass/screen.scss */
.enter-block a {
  font-size: 2em;
  color: #000000;
}

/* line 61, ../sass/screen.scss */
.enter-block:hover {
  background-color: rgba(160, 160, 160, 0.7);
}

/* line 65, ../sass/screen.scss */
.restaurantRow {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 10px;
  margin-bottom: 10px;
}
/* line 70, ../sass/screen.scss */
.restaurantRow .restaurantName {
  font-size: 1.5em;
  color: white;
}

/* line 76, ../sass/screen.scss */
.restaurantTitle {
  height: 100px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}
/* line 80, ../sass/screen.scss */
.restaurantTitle .titleText {
  padding-top: 1px;
}

/* line 85, ../sass/screen.scss */
.areYouSure {
  padding: 10px;
  padding-bottom: 37px;
  background-color: #f4ed9c;
  display: inline;
}
/* line 91, ../sass/screen.scss */
.areYouSure .choiceText {
  color: #00d389;
  position: relative;
  font-size: 1.5em;
  float: left;
}
/* line 97, ../sass/screen.scss */
.areYouSure .noDelete {
  float: right;
  position: relative;
  margin-left: 5px;
}
/* line 102, ../sass/screen.scss */
.areYouSure .delete {
  float: right;
  position: relative;
  margin-left: 5px;
}

/* line 109, ../sass/screen.scss */
.restaurantAddress {
  padding: 5px;
  font-weight: bold;
  color: #bbff00;
}

/* line 115, ../sass/screen.scss */
.restaurantImage {
  height: 200px;
}

/* line 119, ../sass/screen.scss */
.margin {
  margin-top: 10px;
}

/* line 123, ../sass/screen.scss */
body {
  background-color: #3f3f3f;
}

/* line 127, ../sass/screen.scss */
.spinner {
  margin: 100px auto;
  width: 32px;
  height: 32px;
  position: relative;
}

/* line 134, ../sass/screen.scss */
.cube1, .cube2 {
  background-color: #333;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: cubemove 1.8s infinite ease-in-out;
  animation: cubemove 1.8s infinite ease-in-out;
}

/* line 146, ../sass/screen.scss */
.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes cubemove {
  25% {
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  }
  50% {
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  }
  75% {
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  }
  100% {
    -webkit-transform: rotate(-360deg);
  }
}
@keyframes cubemove {
  25% {
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  }
  50% {
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  }
  50.1% {
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  }
  75% {
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  }
  100% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}
/* line 177, ../sass/screen.scss */
.profile-background {
  background-color: #c9c9c9;
  overflow: hidden;
  height: 200px;
}

/* line 183, ../sass/screen.scss */
.profilePic {
  position: absolute;
  bottom: 0;
  height: 200px;
  cursor: pointer;
}

/* line 190, ../sass/screen.scss */
.photoUpload {
  position: absolute;
  left: 0;
  bottom: 0px;
  z-index: 100;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  border-width: 0px;
  width: 100%;
  text-align: left;
}
/* line 200, ../sass/screen.scss */
.photoUpload .glyphicon-camera {
  margin-top: 5px;
  font-size: 2.7em;
  color: white;
}

/* line 207, ../sass/screen.scss */
.progress {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 212, ../sass/screen.scss */
.myRestaurants {
  color: #e0e0e0;
}

/* line 216, ../sass/screen.scss */
.errors {
  position: fixed;
  z-index: 10000;
  padding: 10px;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  pointer-events: none;
}

/* line 226, ../sass/screen.scss */
.alert {
  animation: fadeOut 2700ms ease-in 0s 1 forwards;
  -webkit-animation: fadeOut 2700ms ease-in 0s 1 forwards;
  -moz-animation: fadeOut 2700ms ease-in 0s 1 forwards;
  width: 250px;
  float: right;
  clear: both;
  margin-bottom: 5px;
  pointer-events: auto;
}

/* line 237, ../sass/screen.scss */
.edit-glyph {
  font-size: .5em;
  padding-bottom: 3px;
  cursor: pointer;
}

/* line 243, ../sass/screen.scss */
.editTitle {
  background-color: transparent;
  border-width: 0px;
  padding: 0px;
  outline: none;
}

/* line 250, ../sass/screen.scss */
.saveTitle {
  float: right;
  margin-top: 12px;
}

/* line 255, ../sass/screen.scss */
.cancelTitle {
  float: right;
  margin-top: 12px;
}

/* line 260, ../sass/screen.scss */
.noPadding {
  padding: 0px !important;
}

/* line 264, ../sass/screen.scss */
.photoViewerModal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  overflow: hidden;
  outline: 0;
}

/* line 276, ../sass/screen.scss */
.carousel {
  background-color: white;
  height: 80%;
  width: 80%;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* line 287, ../sass/screen.scss */
.photoContainer {
  height: 100%;
  background-color: grey;
}

/* line 292, ../sass/screen.scss */
.currentPic {
  height: 100%;
  height: 80%;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
