<template name="restaurantPage">
	<div class="container">
		<div class="row">
			{{#if wantDelete}}
				<div class="col-md-6 restaurantTitle inlineBlock">
					<h1>{{restaurant.name}}</h1>
				</div>
				<div class="col-md-4 areYouSure inlineBlock">
					<p class="choiceText">Are You Sure?</p>
					<button class="btn btn-danger delete">Delete</button>
					<button class="btn btn-default noDelete">Cancel</button>
				</div>
			{{else}}
				<div class="col-md-10 restaurantTitle inlineBlock">
					<h1>{{restaurant.name}}</h1>
				</div>
			{{/if}}
			<div class="col-md-2">
				{{#if userCanEdit}}
					{{#unless wantDelete}}
						<a class="btn btn-success" href="{{pathFor 'editRestaurant'  _id=restaurant._id}}">Edit</a>
						<a class="btn btn-danger deleteRestaurant">Delete</a>
					{{/unless}}
				{{/if}}
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 profile-background">
				{{#if userCanEdit}}
					<button type="button" class="photoUpload" data-toggle="modal" data-target="#myModal">
						<span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
					</button>
				{{/if}}
				<img src="{{profilePic}}" class="profilePic"/>
			</div>
			<div class="col-md-5">
			</div>
			<div class="col-md-4">
				<div class="restaurantAddress">{{restaurant.address}}</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">Upload a Photo</h4>
	      </div>
	      <div class="modal-body">
			<form action="/">
				<input type="file" id="input" name="pic" accept="image/*">
			</form>

			<div class="progress">
    			<div class="progress-bar" role="progressbar" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{progress}}%;">
      				<span class="sr-only">{{progress}}% Complete</span>
    			</div>
  			</div>

  			{{#if success}}
    			<div>HI</div>
    		{{/if}}
  		 </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default close-button" data-dismiss="modal">Close</button>
	        <button type="button" class="btn btn-primary">Save changes</button>
	      </div>
	    </div>
	  </div>
	</div>

</template>