<template name="restaurantPage">
	<div class="container">
		<div class="row">
			<div class="col-md-10 restaurantTitle">
				<h1>{{restaurant.name}}</h1>
			</div>
			<div class="col-md-2">
				{{#if userCanEdit}}
					<a class="btn btn-success" href="{{pathFor 'editRestaurant'  _id=restaurant._id}}">Edit</a>
				{{/if}}
			</div>
		</div>
		<div class="row">
			<div class="col-md-8">
				<form action="/">
					<input type="file" id="input" name="pic" accept="image/*">
				</form>
			</div>
			<div class="col-md-4">
				<div class="restaurantAddress">{{restaurant.address}}</div>
			</div>
		</div>
	</div>
</template>