<template name="restaurants">
	<div class="container">
		<h1>My Restaurants</h1>
		{{#each userRestaurants}}
			<div class="row">
				<div class="col-md-4">
					<div class="restaurantRow">
						<a href="{{pathFor 'restaurantPage'}}" class="restaurantName">{{name}}</a>
					</div>
				</div>
			</div>
		{{/each}}
		<a href="{{pathFor 'newRestaurant'}}" class="btn btn-primary">New Restaurant</a>
	</div>
</template>

<template name="newRestaurant">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				{{#autoForm collection="Restaurants" id="insertRestaurantForm" type="insert"}}
					<fieldset>
						{{> afQuickField name='name' value=restaurantHelper}}
						{{> afQuickField name='address'}}
						<button type="submit" class="btn btn-primary">Create</button>
					</fieldset>
				{{/autoForm}}
			</div>
		</div>
	</div>
</template>

<template name="editRestaurant">
	<div class="container">
		<h2>Edit {{selectedRestaurantDoc.name}}</h2>
		<form>
			<fieldset>
				<label for="name">Name</label>
				<input type="text" name="name" value="{{restaurant.name}}" class="form-control"/>
				<label for="name">Address</label>
				<input type="text" name="address" value="{{restaurant.address}}" class="form-control"/>
				<button type="submit" class="btn btn-primary">Edit</button>
			</fieldset>
		</form>
	</div>
	
</template>