<template name="restaurants">
	<h1>Restaurants</h1>
		{{ #if selectedRestaurantDoc }}
			<h2>Edit</h2>
			{{#autoForm collection="Restaurants" doc=selectedRestaurantDoc id="updateRestaurantForm" type="update"}}
				<fieldset>
					{{> afQuickField name='name'}}
					{{> afQuickField name='address'}}
					<button type="submit" class="btn btn-primary">Update</button>
				</fieldset>
			{{/autoForm}}
		{{ else }}
			<h2>Add</h2>
			{{#autoForm collection="Restaurants" id="insertRestaurantForm" type="insert"}}
				<fieldset>
					{{> afQuickField name='name' value=restaurantHelper}}
					{{> afQuickField name='address'}}
					<button type="submit" class="btn btn-primary">Create</button>
				</fieldset>
			{{/autoForm}}
		{{ /if }}
		<ul>
			{{#each restaurants}}
			<li><a>{{name}}</a></li>
			{{/each}}
		</ul>

		<a id="clear-people">Clear</a>
</template>