<template name="restaurants">
	<div class="container">
		<h1>My Restaurants</h1>
		{{#each userRestaurants}}
			<div class="restaurantRow">
				<a href="{{pathFor 'restaurantPage'}}" class="restaurantName">{{name}}</a>
			</div>
		{{/each}}
		<a href="{{pathFor 'newRestaurant'}}" class="btn btn-primary">New Restaurant</a>
	</div>
</template>

<template name="newRestaurant">
	<div class="container">
		{{#autoForm collection="Restaurants" id="insertRestaurantForm" type="insert"}}
			<fieldset>
				{{> afQuickField name='name' value=restaurantHelper}}
				{{> afQuickField name='address'}}
				<button type="submit" class="btn btn-primary">Create</button>
			</fieldset>
		{{/autoForm}}
		<form action="/">
		  <input type="file" id="input" name="pic" accept="image/*">
		</form>
	</div>
</template>

<template name="editRestaurant">
	<div class="container">
		<h2>Edit {{selectedRestaurantDoc.name}}</h2>
		<form>
			<fieldset>
				<label for="name">Name</label>
				<input type="text" name="name" value="{{restaurant.name}}" class="form-control"/>
				<label for="name">Address</label>
				<input type="text" name="address" value="{{restaurant.address}}" class="form-control"/>
				<button type="submit" class="btn btn-primary">Edit</button>
			</fieldset>
		</form>
	</div>
	
</template>