<template name="restaurantTitle">
	<div class="col-md-10 restaurantTitle">
		{{#if editTitle}}
			{{> titleInput}}
		{{else}}
			<h1 class="titleText">{{restaurant.name}}{{#if userCanEdit}} <span class="glyphicon glyphicon-pencil edit-glyph" aria-hidden="true"></span>{{/if}}</h1>
		{{/if}}
	</div>
</template>

<template name="titleInput">
	<form>
		<h1><input type="text" name="restaurantTitle" size="40" value="{{restaurant.name}}" class="editTitle"/></h1>
		{{#if edited}}
		<button type="submit" class="btn btn-primary margin">Save</button>
		{{/if}}
	</form>
</template>