<template name="restaurantTitle">
	<div class="col-md-10 restaurantTitle">
		{{#if editTitle}}
			{{> titleInput}}
		{{else}}
			<div class="col-md-12 noPadding">
				<h1 class="titleText">{{restaurant.name}}{{#if userCanEdit}} <span class="glyphicon glyphicon-pencil edit-glyph" aria-hidden="true"></span>{{/if}}</h1>
			</div>
		{{/if}}
	</div>
</template>

<template name="titleInput">
	<form>
		<div class="col-md-8 noPadding">
			<h1><input type="text" name="restaurantTitle" size="40" value="{{restaurant.name}}" class="editTitle"/></h1>
		</div>
		<div class="col-md-4">	
			<div class="row">
				<button type="submit" class="btn btn-primary saveTitle">Save</button>
			</div>
			<div class="row">
				<button class="btn btn-primary cancelTitle">Cancel</button>
			</div>
		</div>
	</form>
</template>